.modal-title-src {
  font-family: Arial, Serif;
  font-weight: bold;
  font-size: 1.6rem;
}

.modal-title-title {
  font-family: Arial, Serif;
  font-size: 1.3rem;
  line-height: 1.8rem;
}

.share-modal-body {
  text-align: center;
}