.results-header {
  margin-left: 1rem;
}

.news-card.search {
  margin: 1rem;
}

.news-card.search {
  cursor: pointer;
}

.news-col.search {
  padding-left: 0;
  padding-right: 0;
}

.news-image.search {
  margin-bottom: 1rem;
}

.news-title.search {
  font-weight: bold;
  font-style: italic;
}