/* navbar */
.navbar {
  background-image: linear-gradient(to right, #0f1a35, #2849ac);
}

.autosuggest {
  max-width: 30%;
  min-width: 20%;
}

.bookmark-icon {
  color: white;
}

#source-text-nytimes {
  color: white;
  margin: 0 1% 0 1%;
}

#source-text-guardian {
  color: white;
  margin: 0 1% 0 1%;
}

/* news */
.news-image {
  margin: 5%;
}

.news-descp.home {
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.news-date {
  font-style: italic;
  float: left;
}

.news-section-badge {
  float: right;
}

.news-descp.detail {

}